.new-list-form-box {
  display: flex;
  flex-direction: column;
}
.new-list-form-back {
  display: flex;
  justify-content: flex-end;
}
.new-list-form-back a {
  margin-bottom: 4px;
  font-weight: bold;
}
.new-list-form-back a:hover {
  text-decoration: none;
}
.new-list-form-back a svg {
  height: 1.2em;
  width: 1.3em;
}
