.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  min-width: 300px;
  border-top: 4px solid #36aec6;
  border-radius: 4px;
  padding: 12px 15px;
  box-shadow: 4px 4px 4px #888;
  margin-bottom: 30px;
}
.login-logo-container {
  text-align: center;
}
#login-logo {
  width: 2.4em;
  height: 2.4em;
  margin-bottom: 4px;
  color: #df4723;
}
.login-box h4 {
  text-align: center;
}
.login-form-btn {
  width: 100%;
  margin-bottom: 12px;
}
.btn-signup {
  border: none;
  background: none;
  color: darkcyan;
  cursor: pointer;
}
.btn-signup:hover {
  color: blueviolet;
}
.btn-signup:focus {
  outline: none;
}
