.list-header-title {
  display: flex;
  justify-content: flex-start;
}
.list-header-title h4 {
  cursor: pointer;
}
.list-header-btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
}
.list-header-btn button {
  padding: 1px 6px !important;
}
.list-header-btn svg {
  height: 1.5em;
  width: 1.5em;
}
.editing-alias-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
#edit-list-alias {
  height: 0.6em;
  width: 0.6em;
  margin-bottom: 8px;
}
.edit-list-alias-btn {
  margin-left: 6px;
}
.list-card th {
  padding: 0.3rem 0.1rem !important;
}
.list-card td {
  padding: 0.3rem 0 !important;
}
.list-table th {
  font-size: 0.8rem;
  text-align: center;
}
.list-table td {
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle !important;
}
.list-table-actions {
  min-width: 90px;
}
.list-card-prodct-name {
}
.list-item-btns {
  padding: 2px 8px !important;
  margin: 0 3px;
}
.btn-list-close {
  margin-left: 12px;
  padding: 1px 6px !important;
}
.btn-list-close svg {
  height: 1.5em;
  width: 1.5em;
}
.list-item-btn-edit {
  padding: 2px 8px !important;
  margin: 0 3px;
  font-size: 0.8rem;
  background-color: khaki !important;
}
.list-card-empty {
  display: flex;
  justify-content: center;
  padding: 12px 0 !important;
  margin-bottom: 12px;
  background-color: gainsboro;
  color: darkgrey;
}
.list-card-empty p {
  margin: 0 !important;
  font-size: 16px;
}
.empty-list-message {
  padding: 12px 0 !important;
  font-size: 16px;
  color: darkgrey;
  text-align: center;
  background-color: gainsboro;
}
.spinner-grow {
  width: 0.2rem !important;
  height: 0.2rem !important;
  margin: 0 1px 4px 0;
}
.list-card-total {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  vertical-align: middle;
}
.list-card-total h6 {
  margin: 4px 0;
}
.modal-dialog {
  margin-top: 100px !important;
}
.modal-content {
  border: none !important;
}
.new-item-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.grab-item {
  cursor: grab;
}
.is-dragging {
  background-color: rgb(238, 238, 238);
  border: 2px dashed rgba(0, 0, 0, 0.2);
}
.is-dragging .grab-item {
  cursor: grabbing !important;
}
.is-dragging td {
  opacity: 0;
}
