.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 15px;
}
#logo {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 25px;
}
#logout-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.nav-logo-container {
  display: flex;
  justify-content: flex-start;
}
.nav-logout-container {
  display: flex;
  justify-content: flex-end;
}
