.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
}
#nav-logo {
  width: 50px;
  height: 50px;
  border-color: #df4723;
  border-radius: 25px;
  background: none;
}
#logo:hover {
  background: antiquewhite;
}
#logo:focus {
  outline: none;
}
#nav-logo svg {
  width: 1.4em;
  height: 1.4em;
  margin-bottom: 4px;
  color: #df4723;
}
#logout-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: none;
}
#logout-btn:focus {
  outline: none;
}
.nav-logo-container {
  display: flex;
  justify-content: flex-start;
}
.nav-logout-container {
  display: flex;
  justify-content: flex-end;
}
