.nav-icon {
  position: fixed;
  top: 15px;
  z-index: 9999;
}
.nav-logo {
  left: 15px;
}
.nav-logout {
  right: 15px;
}
#nav-logo {
  width: 50px;
  height: 50px;
  border-color: #df4723;
  border-radius: 25px;
  background: #fff;
}
#logo:hover {
  background: antiquewhite;
}
#logo:focus {
  outline: none;
}
#nav-logo img {
  width: 27px;
  height: 27px;
}
#logout-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
}
#logout-btn:focus {
  outline: none;
}
.nav-help {
  position: fixed;
  bottom: 15px;
  z-index: 9999;
  left: 15px;
}
#help {
  width: 35px;
  height: 35px;
  border-color: #df4723;
  border-radius: 25px;
  background: #fff;
}
#help svg {
  width: 1.4em;
  height: 1.4em;
  margin: 0 0 2px -2px;
  color: #df4723;
}
